
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:30px" class="text-center">Đặt Hàng Thành Công Chúng tôi sẽ liên hệ bạn một cách sớm nhất có thể</h2>
@*<a href="@Url.Action("Index", "Home")" class="no-print my-button-invoice center-block"><span class="glyphicon glyphicon-menu-left no-print" aria-hidden="true"></span>Trở Lại Trang Trủ</a>*@

