
<img src="~/Images/Home_Images/18.jpg" alt=" " class="img-responsive" />
<div class="products-right-grids-position1">
    <h4>@Model.TenTHUONGHIEU</h4>
    <p style="font-weight:bold; text-shadow: 0 0 20px black">
         Uy Tín Làm Nên Thương Hiệu
    </p>
</div>